.test_image_and_result
{
    background-color: grey;
    border-color: black solid 3px;
    border-radius: 20px;
    font-size: 24px;
    margin-bottom: 100px;
    padding: 20px;
    margin-right: 100px;
}
#heading
{
    text-align: center;
    color: red;
    text-decoration: underline;
}
body
{
    background-color: pink;
}